@font-face {
    font-family: 'benchninebold';
    src: url('../fonts/benchnine-bold-webfont.woff2') format('woff2'),
         url('../fonts/benchnine-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'benchninelight';
    src: url('../fonts/benchnine-light-webfont.woff2') format('woff2'),
         url('../fonts/benchnine-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'benchnineregular';
    src: url('../fonts/benchnine-regular-webfont.woff2') format('woff2'),
         url('../fonts/benchnine-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}