@use 'fonts';

$primary-color: #645c9c;
$secondary-color: #F9FEEC;
$accent-color: #ecd48c;
$body-text-color: #2A2B2A;
$heading-font: 'benchninebold', Helvetica, Arial;
$body-font: 'benchnineregular', Helvetica, Arial;
// $base-font-size: 18px;
// $base-font-weight: 400;