@use '../abstracts' as a;

main {
    margin: 1.25rem;
}

.title {
    font-size: 45px;
    font-family: a.$heading-font;
    color: a.$accent-color;
}

.character-box {
    color: a.$secondary-color;

    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}
.movie-box {
    color: a.$secondary-color;
    font-family: a.$heading-font;

    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}

.movie-heading {
    font-size: 30px;
}

.movie-description {
    font-size: 24px;
}

.movie-img {
    width: 45%;
}

.logo-intro {
    width: 60%;
}

.loading-animation {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 50%;

    &#square1 {
        background-color: a.$primary-color;
        right: 50%;
    }
    
    &#square2 {
        background-color: a.$accent-color;
        right: 0;
    }
}